﻿<div *ngIf="isVisible" class="modal fade show in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header" style="border:none">
                <div class="col-sm-6">
                    <p>{{title}}</p>
                </div>
                <div>
                    <button type="button" class="close" (click)="hide()">&times;</button>
                </div>                
            </div>
            <div class="modal-body" style="margin-left:10em">
                <p>{{version}}</p>
                <p>{{author}}</p>
                <p>&copy;2017 H.I.T. Inc. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
