﻿<information-dialog></information-dialog>
<div class="content">
    <div class="col-sm-3" id="left-panel">
        <div class="loader" [ngClass]='{"hide-div": retrievedDates}'></div>
        <ul class="weekdates" *ngIf="allDates.length != 0">
            <li *ngFor="let date of allDates" [class.selected]="date === selectedDate" (click)="onSelectDate(date)">
                <div class="item">{{date}}</div>
            </li>
        </ul>
    </div>
    <div class="col-sm-9" id="right-panel">
        <div style="margin-bottom: 2em">
            <div class="col-sm-6">Name</div>
            <div class="col-sm-6">Visits</div>
        </div>
        <div style="border-bottom:1px solid lightgray;"></div>
        <div class="loader" [ngClass]='{"hide-div": retrievedTop}'></div>
        <ul class="toplist" *ngIf="topVisitedWebsites.length != 0">
            <li *ngFor="let website of topVisitedWebsites">
                <div>
                    <div class="col-sm-6">{{website.Name}}</div>
                    <div class="col-sm-6">{{website.Visits}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
