﻿.selected {
    background-color: lightgray !important;
}
.weekdates {
    list-style-type: none;
    margin:0px;
    padding:0 .1em 0 .1em;
    width: 100%;
}
.weekdates li {
    cursor: pointer;
    margin: .6em .6em .6em .6em;
    padding: 1em .5em 1em .5em;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 4px lightgray;
}
.weekdates li.selected:hover {
}
.weekdates li:hover {
    background-color:whitesmoke;
}
.weekdates .item {
    font-weight: bold;
}
.weekdates .item-sub {
    color: gray;
}
.toplist {
    list-style-type: none;
    margin:0px;
    padding:0 .1em 0 .1em;
    width: 100%;
}
#left-panel {
  height: 90%;
  overflow-y: auto;
  padding:10px 5px 5px 5px; 
  background-color:whitesmoke;
}
#right-panel {
  height: 90%;
  overflow-y: auto;
  padding:10px 5px 5px 5px;
}
.loader {
    /*border: 2px solid #f3f3f3;*/
    border-top: 2px solid darkgray;
    border-right: 2px solid darkgray;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.hide-div {
    display: none;
    visibility: hidden;
}
.show-div {
    display: inherit;
    visibility: visible;
}