﻿<div *ngIf="isVisible" class="modal fade show in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hide()">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div *ngIf="showConfirmButtons" class="modal-footer">
                <button type="button" class="btn btn-default" (click)="ok()">OK</button>
                <button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
