﻿ /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
 .about {
    float: right;
    padding-top: 1em;
    color: #35a8ee;
    cursor: pointer;
}
.navbar-default {
    background-color: #808080;
    box-shadow: 0px 0px 20px black;
    border: none;
}
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: whitesmoke;
        background-color: #0094ff;
    }